/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* APPLICATION CODE WRITTEN  */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Mulish:wght@300&family=Playfair+Display&display=swap");
html,
body {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  height: 100%;
}
.nav-menu {
  transform: translateX(-101%);
  position: fixed;
  background-color: #98b1b8;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px inset;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  color: black;
  padding: 20px 0;
  font-family: "Mulish", sans-serif;
}

.close {
  position: absolute;
  right: 20px;
  transition: 1.5s;
  opacity: 0;
}

.active-nav {
  transform: translateX(0%);
}

.nav-menu .link-contain {
  margin-top: 30px;
  min-width: 430px;
  height: 475px;
}
.nav-menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  font-size: 30px;
  width:fit-content;
  margin:auto;
  color:white;
}
.nav-menu a:visited{
  color:white;
}
.nav-menu img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 20px auto;
  position: static;
}
#nav-email{
  width: auto;
  margin: auto;
  padding: 0;
  height: 60px;
}
#nav-social > a {
  display: inline-flex;
  padding: 0 5px;
  width: 40px;
}
#nav-social .social-icons {
  height: 40px;
  width: 40px;
}
.nav-contact {
  text-align: center;
  bottom: 45px;
  min-width: 430px;
  
}
.nav-contact > h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.nav-contact h3{
  font-size:25px
}
.nav-contact > ul {
  width: fit-content;
  margin: auto;
}
.nav-contact li {
  padding: 5px 0;
}
header {
  background-image: url("../images/code_background.png");
  background-size: cover;
  height: 750px;
  font-family: "Playfair Display", serif;
  color: white;
}
.row {
  width: 100%;
  overflow: hidden;
}
.inline {
  display: flex;
}
/* nav  */
nav {
  height: 50px;
  padding: 20px;
}
nav img {
  position: absolute;
  right: 100px;
}


/* header area  */

header .sect-right > h1 {
  color: #98b1b8;
  font-size: 93px;
  line-height: 1.25;
  text-align: left;
}
.name-title{
  color:white;
}
.block {
  display: block;
}

.sect-left,
.sect-right {
  width: 50%;
}

header .row-flex {
  display: flex;
  flex-direction: row;
}
header .sect-right {
  width: 45%;
  order: 2;
}
header .sect-left {
  width: 55%;
  order: 1;
}



.title {
  display: block;
  margin: auto;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  letter-spacing: 4px;
  font-size: 40px;
  font-weight: 600;
}

/* header left side  */
.dynamic-code {
  color: #00a03e;
  font-family: "Fira Code", monospace;
  font-size: 20px;
  height: 300px;
  margin-left: 40px;
  padding: 20px 0;
  position: relative;
  top: 140px;
  width: 90%;
}
.skill-container {
  display: inline-flex;
  font-size: 40px;
  left: 100px;
  position: relative;
  top: 300px;
}
#dynamic-skill-list {
  padding-left: 10px;
  
}
#dynamic-list{
  color:#98b1b8;
  padding-left:20px;
}

/* image style  */
.rounded-circle {
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 50%;
}

.img-chadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
header #profile-img {
  height: 50px;
  position: absolute;
  width: 50px;
}

#profile-img {
  position: relative;
  width: 364px;
  margin: auto;
  display: block;
  top: 30px;
}

/* about section  */
#about {
  background-color:#F6F6F6;  
  color: black;
  font-family: "Mulish", sans-serif;
}
#contact{
  font-family: "Mulish", sans-serif;
  padding-bottom:50px;
  background-color:#98b1b8;
}
.contact-container{
  display:flex;
  width:60%;
  margin:auto;
  padding-top:30px;
  align-items: center;
}
.contact-container > div{
  width:50%;text-align:center;
}
#contact-details >h3{
  font-size: 30px;font-weight: 600;
}
#contact-details>p{
  line-height: 3;font-size: 18px;
}
form {
  margin: auto;
  width: 80%;
  margin:auto;
}

input,
textarea {
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height:30px;
  padding:2px;
  font-size:17px;
  font-family: Arial;
}
textarea{
  height:100px;
  font-size:18px;
}
input[type="submit"]{
  background-color: #616161;
  color:white;
  border:none;
  width:100px;
  border-radius:0;
  float:left;
}
input[type="submit"]:hover{
  cursor: pointer;
}
  

#about-title {
  text-align: center;
}
#about article{
  width:55%;
  margin:auto;

}
#about p{
font-size:20px;
text-align:center;
}

#about img{
  display:block;
  margin:auto;
  max-width:1000px;
  position:relative;
  bottom:-10px;
  z-index:0;
}




.sect-txt-right,
.sect-txt {
  padding: 20px 55px;
  font-size: 20px;
  width: 40%;
  box-sizing: border-box;
  overflow:hidden;
}

/* portfolio staggered section  */

#portfolio {
  background-color:#98b1b8;
  font-family: "Mulish", sans-serif;
  position:relative;
  z-index:2;
  padding-bottom:40px;
}

.portfolio-right-movement {
  transform: translateX(100%);
  transition: 1s;
  padding-left: 30px;
}
.portfolio-left-movement {
  transform: translateX(-100%);
  transition: 1s;
  padding-right: 10px;
}
#portfolio img {
  width: 70%;
  display: block;
}

#portfolio .sect-left img {
  float: right;
}
#portfolio .sect-right img {
  float: left;
  padding-left: 30px;
}
#portfolio .row {
  margin: 20px auto 0px;
}
#portfolio h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

#portfolio li,
#portfolio p {
  font-size: 18px;
}
#portfolio p {
  text-align: justify;
}
#portfolio ul {
  display: inline-flex;
  padding-bottom: 10px;
}
#portfolio li {
  padding: 5px 10px;
}
#portfolio .sect-right {
  padding: 20px 0 20px 45px;
}
#portfolio .sect-left {
  padding: 20px 20px 20px 0px;
}
#portfolio .sect-right p,
#portfolio .sect-left p {
  width: 450px;
  padding-bottom: 10px;
}

#portfolio .sect-left p {
  float: right;
}
#portfolio .sect-right .proj-icon,
#portfolio .sect-left .proj-icon {
  width: 40px;
  padding-left: 0;
}

#portfolio .code-link-contain > a {
  display: inline-block;
  margin: auto 10px;
}
.live-app {
  margin-top: 4px;
}

#portfolio .sect-right .proj-link {
  margin-left: 30px;
}

#skills{
  font-family: "Mulish", sans-serif;
  margin-bottom:100px;


}
.skill-list-container{
  width:fit-content;
  margin:auto;
  text-align:center;
}
.skill-list-container >img{
  width:80px;
}
.tri-transition{
  margin: auto;
    display: block;
    width: 100%;
    height: 145px;
    position: relative;
    top: -1px;
}

.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.clearfix {
  clear: both;
}

@media (max-width: 768px) {
  header {
    height: 560px;
  }
  .nav-menu {
    height: 100%;
  }
  .nav-menu .link-contain {
    min-width: 350px;
    width: fit-content;
    margin: 20px auto;
  }
  .nav-contact {
    min-width: 350px;
    width: 100%;
    margin: auto;
    position:relative;
  bottom: 100px;
  }
  .active-nav {
    width: 100%;
  }
  .active-nav-mobile {
    overflow-y: hidden;
    position: fixed;
  }
  .row-flex , .contact-container{
    flex-direction: column;
  }
  .contact-container,.contact-container > div{
    width:90%;
  }
  form{
    margin-top:50px;
    width:100%;
  }
  header .sect-right {
    width: 45%;
    order: 1;
  }
  header .sect-left {
    display: none;
  }
  header .sect-right > h1 {
    font-size: 65px;
    padding-left: 25px;
  }


  .sect-txt-left,
  .sect-txt-right,
  .sect-txt,
  .sect-left,
  .sect-right {
    width: 100%;
    padding: 0;
  }
  #about img{
    max-width:100vw;
  
  }
  #about article{
    width:85%;
  }

  #profile-img {
    height: auto;
    width: 200px;
    top: 0px;
  }
  .sect-left {
    order: 2;
    text-align: justify;
  }
  .sect-right {
    order: 1;
    padding-bottom: 25px;
  }
  #nav-email{
    height:45px;
  }

  #portfolio h2,
  #portfolio h3 {
    text-align: center;
  }
  #portfolio .sect-right {
    padding: 0;
  }
  #portfolio .sect-left {
    padding-right: 0;
  }
  #portfolio .sect-right p{
    width: 100%;
  }
  #portfolio .sect-left {
    order: 1;
  }
  #portfolio .flip > .sect-left {
    order: 2;
    padding-bottom: 0;
  }

  #portfolio .sect-left img,
  #portfolio .sect-right img {
    float: none;
    padding: 0;
    margin: auto;
  }

  #portfolio .code-link-contain {
    text-align: center;
  }
  #portfolio .code-link-contain > a {
    margin: 5px;
  }
  #portfolio .proj-icon {
    margin: 5px;
  }
  .portfolio-right-movement,
  .portfolio-left-movement {
    padding: 20px;
  }
  .tri-transition{
    height:88px;
  }
  .skill-list-container >img{
    width:60px;
  }
}
